@keyframes hovering {
from {
  transform: translateY(25px);
  opacity: 0;
}
to {
  transform: translateY(0px);
  opacity: 1;
}
}


@keyframes loader {
from {
  transform: translateY(0px);
}
to {
  transform: translateY(-100vh);
  display: none;
}
}

@keyframes fillText {
0% {
  background-position: 100% 0;
}
100% {
  background-position: 0 0;
}
}

@keyframes animate {
  10% {
    transform: scale(1, 0.023);
}
  35% {
    transform: scale(1, 0.002);
    opacity: 1;
}
  50% {
    transform: scale(1, 0.002);
    opacity: 0;
}
  85% {
    transform: scale(1, 0.002);
    opacity: 0;
}
  100% {
    transform: scale(1, 0);
    display: none;
}
}
